#options
  - options.each do |name, image, link|
    = link_to(link.present? ? page_path(link) : page_path('justademo'), id: name.underscore) do
      .option
        = image_tag image if image.present?
        %p= name
