#end
  %h1 Cool... well...
  = image_tag 'mortarboard.svg'
  %p Since you're under 19 you can get help from the council to go to college!
  %p Check out the #{link_to 'Leeds City College', 'http://www.leedscitycollege.ac.uk/'} website for more info.