#question
  %h1 Easy one... how old are you?
  = render 'shared/options', options: [['Under 19', 'skateboard.svg', 'age-fail'], ['19-35', 'tie.svg', 'freedays'], ['36-54', 'house.svg', 'freedays'], ['55+', 'gold.svg', 'freedays']]
  .footer How do you like the colour, by the way?