#question
  %h1 Imagine you saw your favourite celebrity in the supermarket. Would you...?
  = render 'shared/options', options: [['Compliment them and shake their hand', 'handshake.svg'], ['Ask for an autograph', 'autograph.svg'], ['Run away screaming', 'runaway.svg', 'transport']]
.footer You don't have to tell me who your favourite celebrity is. That can be your little secret.