#question
  %h1 What kind of thing do you want to learn?
  = render 'shared/options', options: [['Arts', 'arts.svg'], ['IT', 'it.svg'], ['Languages', 'flags.svg', 'languages'], ['Personal development', 'smile.svg']]
.footer I'm excited for you!