#end
  %h1 Hey - would you like to improve your confidence?
  %p There's an <b>Introduction to Confidence Building</b> class at:
  %div= image_tag 'swarthmore.jpg', class: 'nomargin'
  %h2 Swarthmore Education Centre, Mondays at 2.30pm
  %p And best of all &mdash; it's <b>FREE!!!</b>
  .action
    = link_to 'Find out more', page_path('swarthmore'), class: 'c-button c-button--success u-xlarge'
    = link_to 'Ugh, no thanks', page_path('none'), class: 'c-button c-button--error u-xlarge'
