#end
  %h1 So you want to learn Catalan?
  %p Hey - there's a course available at:
  %div= image_tag 'swarthmore.jpg', class: 'nomargin'
  %h2 Swarthmore Education Centre, Wednesdays at 8pm
  %div= link_to 'Find out more', page_path('swarthmore'), class: 'c-button c-button--success u-xlarge'