#question
  %h1#title Of course!

  %h1 Let's get started: what's your favourite ice cream flavour?

  = render 'shared/options', options: [['Vanilla', 'ice-cream-vanilla.svg', 'age'], ['Chocolate', 'ice-cream-chocolate.svg', 'age'], ['Strawberry', 'ice-cream-strawberry.svg', 'age'], ['Pistachio', 'ice-cream-pistachio.svg', 'age']]
  
.footer Not all the questions are going to be this delicious...