#question
  %h1 Do you know what you want to learn next?
  = render 'shared/options', options: [['YES!', 'yes.svg', 'course-selector'], ['Give me ideas', 'confused.svg', 'quiz']]
.footer It's not a trick question!