#question
  %h1 What language?
  = render 'shared/options', options: [['Catalan', 'catalan.svg', 'end-catalan'], ['Esperanto', 'esperanto.svg'], ['Slovenian', 'slovenia.svg'], ['None of these', 'none.svg', 'none']]
.footer Sorry there are no Volapük courses!