#end
  %h1 Oh no!
  %p It looks like we can't find anything for you right now.
  %p= image_tag 'fail.svg'
  %p What would you like to learn? Let us know and we'll see what we can do!
  %p
    %input.c-field{type: 'text'}
    %button.c-button Go!