#question
  %h1 Which of these jobs is the coolest?
  = render 'shared/options', options: [['Astronaut', 'astronaut.svg'], ['Prime Minister', 'number10.svg', 'anxiety'], ['DJ', 'dj.svg']]
.footer I can only apologise for not including 'cat' as one of the options.