#end
  %h1 Swarthmore Education Centre
  %h2 0113 243 2210
  %div
    %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.328957081787!2d-1.558623684144345!3d53.80142998007692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795ea6407b6fa9%3A0x7672eaec9ce4e6e8!2sSwarthmore+Education+Centre!5e0!3m2!1sen!2suk!4v1490709906238" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
  %div= link_to 'Or book a time for us to call you', 'https://calendly.com/', class: 'c-button c-button--info u-xlarge'