#question
  %h1 Which is your favourite way to travel?
  = render 'shared/options', options: [['Train', 'train.svg', 'end-confidence'], ['Car', 'car.svg', 'end-confidence'], ['Bike', 'bike.svg', 'bike-maintenance']]
.footer I know... we could have included 'helicopter'. Maybe in the next version.