@import "blaze";

html, body {
  height: 100%;
}

body.flavour-chocolate {
  background-color: #9f8170;
}
body.flavour-vanilla {
  background-color: #fff5ee;
}
body.flavour-strawberry {
  background-color: #ff91a4;
}
body.flavour-pistachio {
  background-color: #ddfed1;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1#title {
  font-size: 3em;
}

#question {
  height: calc(100% - #{$nav-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1, h2 {
    margin-top: 0;
    text-align: center;
  }
  #ticks {
    width: 15em;
    margin-bottom: 1em;
  }
  input[type="checkbox"] {
    margin-right: 0.5em;
  }
  .action {
    text-align: center;
  }
}

#options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em;
    width: 15em;
    height: 15em;
    background-color: map-get($colors, grey-light);
    > * {
      margin: 0.5em;
    }
    img {
      max-width: 12em;
      height: 12em;
    }
  }
}

.footer {
  position: absolute;
  width: 100%;
  padding: 0.5em;
  bottom: 0;
  text-align: center;
  font-size: 0.8em;
}

.action {
  margin-top: 1em;
  .c-button {
    margin: 0 1em;
  }
}

#end {
  height: calc(100% - #{$nav-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img:not(.nomargin) {
    max-height: 40vh;
    margin: 2em;
  }
  h1, h2 {
    margin-bottom: 0.5rem;
  }
  a:not(.c-button) {
    color: map-get($colors, blue-dark);
    text-decoration: underline;
  }
  iframe {
    margin: 2em;
  }
}

.c-field {
  margin: 0.5em auto;
  display: block;
  width: 30em;
}